Simple linear regression is a very limited model since it is only dealing with one output and one input. 
* we are usally intereseted in relationships b/w more than 2 variables
Least squares regression can handle almost any functional form you pass into it, it will just estimate the coefficients.

### Multivariable Least Squares
When least squares reg has more than 1 independent variable (input) = Multivariable Least Squares LInear Regression, Multiple Linear Regression, or Multivariable Regression. 

This type of model is used when there are multiple variables affecting the outcome. 
* EX: Rental Costs
    * If we want to model the monthly rental cost of an apartment there are several factors that matter. 
    $$ Rent = \alpha + SquareFootage $$
    * Might not be terrible model. 
    * It makes sense that an as sq ft goes up, cost goes up
    * But there is probably more to the store than that: 
    $$ Rent = \alpha + SquareFootage + Bedrooms + Bathrooms + YearBuilt $$
    * This is much more robust model. 
* All these rel are still linear, meaning each additional bedroom affects rent in the same way. 
* The delta to rent will be equivalent for moving from 1 to 2 bedrooms and from 11 to 12
* This is the nature of linear regression

### Categorical Variables
Not all variables have an obvious linear realtionship. 
Categorical variables pose a unique problem. 
* Categorical variable is a type of category. 
    * can be a boolean {True, False} or state {WA, CA, OR, NV...}
* Implying a single linear rel b/w all of these values wont make sense. 
We need to treat each individually, allowing for each value to have its own associated coefficient. 
* If we wanted to include neighborhood in our ex: 
$$ Rent = \alpha + SquareFootage + Bedrooms + Bathrooms + YearBuilt + Neighborhood $$

* Categories are not linearly related, SKLearn wants to separate binary indicators for each--> need to do more work.
    * So for every categorical value we have to create a column that is 0 or 1 indicating if the obs is of that category. 
    

Continue with ex: Lets say our town was broken down into three neighborhoods- Downtown, South and North. 
* Then our specification will look like: 
$$ Rent = \alpha + SquareFootage + Bedrooms + Bathrooms + YearBuilt + Downtown + South $$
    * one category will always be excluded.
    * this is b/c it will be incorporated into the intercept (the alpha) and we would otherwise run into problems. 
    * each of these categories will typically be mutually exclusive. (if a house is in the south, it shouldnt simultaneously be in the north)

### LInear doesnt have to mean lines...
* model assumes a linear rel b/w the predictiors and the outcome but predictors themselves can take on more complicated forms. 
* ex: 
    $$ y = \alpha + x + x^2 $$
* doeable in mult reg as long as it is passed through df where one column is x and other is x**2.

### DRILL: PREPARE THE DATA
* Dataset: crime data in NY in 2013
* Prepare this data to model with multivariable reg (including data cleaning if necessary) according to this specification:
    $$ Property crime = \alpha + Population + Population^2 + Murder + Robbery$$
* Population variable is already set for you, but you will need to create

In [2]:
import pandas as pd
import sklearn
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df = pd.read_excel("crime.xls")
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861.0,0.0,0.0,NaN,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0
1,Addison Town and Village,2577.0,3.0,0.0,NaN,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0
2,Akron Village,2846.0,3.0,0.0,NaN,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0
3,Albany,97956.0,791.0,8.0,NaN,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN
4,Albion Village,6388.0,23.0,0.0,NaN,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN

In [8]:
df.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3', 'Murder'],
      dtype='object')

In [13]:
df['population2'] = np.square(df['Population'])
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Population2,Murder,population2
0,Adams Village,1861.0,0.0,0.0,NaN,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0,3.463321e+06,0,3.463321e+06
1,Addison Town and Village,2577.0,3.0,0.0,NaN,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0,6.640929e+06,0,6.640929e+06
2,Akron Village,2846.0,3.0,0.0,NaN,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0,8.099716e+06,0,8.099716e+06
3,Albany,97956.0,791.0,8.0,NaN,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN,9.595378e+09,1,9.595378e+09
4,Albion Village,6388.0,23.0,0.0,NaN,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN,4.080654e+07,0,4.080654e+07

In [14]:
df['murder'] = df['Murder and\nnonnegligent\nmanslaughter'].map(lambda x: 1 if x>0 else 0)
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Population2,Murder,population2,murder
0,Adams Village,1861.0,0.0,0.0,NaN,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0,3.463321e+06,0,3.463321e+06,0
1,Addison Town and Village,2577.0,3.0,0.0,NaN,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0,6.640929e+06,0,6.640929e+06,0
2,Akron Village,2846.0,3.0,0.0,NaN,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0,8.099716e+06,0,8.099716e+06,0
3,Albany,97956.0,791.0,8.0,NaN,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN,9.595378e+09,1,9.595378e+09,1
4,Albion Village,6388.0,23.0,0.0,NaN,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN,4.080654e+07,0,4.080654e+07,0

In [15]:
df['robbery'] = df['Robbery'].map(lambda x: 1 if x>0 else 0)
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Population2,Murder,population2,murder,robbery
0,Adams Village,1861.0,0.0,0.0,NaN,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0,3.463321e+06,0,3.463321e+06,0,0
1,Addison Town and Village,2577.0,3.0,0.0,NaN,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0,6.640929e+06,0,6.640929e+06,0,0
2,Akron Village,2846.0,3.0,0.0,NaN,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0,8.099716e+06,0,8.099716e+06,0,0
3,Albany,97956.0,791.0,8.0,NaN,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN,9.595378e+09,1,9.595378e+09,1,1
4,Albion Village,6388.0,23.0,0.0,NaN,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN,4.080654e+07,0,4.080654e+07,0,1